<h2>My measurements</h2>

<app-button color="green" text="add" (click)="addMeasurement()">
</app-button>
<div *ngIf="isAdding" style="margin-bottom: 5px; margin-top: 5px;">
    <app-add-measurement [measurement]="measurementToAdd"></app-add-measurement>
    <div style="margin-bottom: 5px; margin-top: 5px;">
        <div (click)="onCancell()"
            style="display: inline-block; width: 49%; background-color: red; color: white; text-align: center; padding: 5px; border-radius: 2px;">
            cancell
        </div>
        <div style="display: inline-block; width: 2%;">

        </div>
        <div *ngIf="isValid" (click)="onSave()"
            style="display: inline-block; width: 49%; background-color: lightskyblue; color: white; text-align: center; padding: 5px; border-radius: 2px;">
            save
        </div>
    </div>
</div>

<app-measurement-item *ngFor="let measurement of measurements" [measurement]="measurement"
    (onDeleteMeasurement)="onDelete(measurement.id)" (onChangeMeasurement)="onChange(measurement)">
</app-measurement-item>