<h1 class="card-title">Add fast record</h1>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    Error: {{errorMessage}}
</div>
<form [formGroup]="addFastRecordForm" autocomplete="off" novalidate (ngSubmit)="submit(addFastRecordForm.value)">
    <div class="form-group row">
        <label for="comment" class="col-form-label col-sm-2">Comment:</label>
        <div class="col-md-5">
            <input type="text" id="comment" formControlName="comment" class="form-control"/>
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('comment') && hasError('comment', 'minlength')">Comment is to short (3)</em>
            <em *ngIf="validateControl('comment') && hasError('comment', 'maxlength')">Comment is to long (64)</em>
        </div>
    </div>    
    <div class="form-group row">
        <label for="energy" class="col-form-label col-sm-2">Energy (kCal):</label>
        <div class="col-md-5">
            <input type="number" id="energy" formControlName="energy" class="form-control" />
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('energy') && hasError('energy', 'required')">Energy is required</em>
        </div>
    </div>
    <div class="form-group row">
        <label for="fats" class="col-form-label col-sm-2">Fats (g):</label>
        <div class="col-md-5">            
            <input type="number" id="fats" formControlName="fats" class="form-control" />
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('fats') && hasError('fats', 'required')">Fats are required</em>
        </div>
    </div>
    <div class="form-group row">
        <label for="proteins" class="col-form-label col-sm-2">Proteins (g):</label>
        <div class="col-md-5">            
            <input type="number" id="proteins" formControlName="proteins" class="form-control" />
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('proteins') && hasError('proteins', 'required')">Proteins are required</em>
        </div>
    </div>
    <div class="form-group row">
        <label for="carbohydrates" class="col-form-label col-sm-2">Carbohydrates (g):</label>
        <div class="col-md-5">            
            <input type="number" id="carbohydrates" formControlName="carbohydrates" class="form-control" />
        </div>
        <div class="col-md-5">
            <em *ngIf="validateControl('carbohydrates') && hasError('carbohydrates', 'required')">Carbohydrates are required</em>
        </div>
    </div>
    <br>

    <button type="submit" class="btn"
        [ngClass]="{'btn-primary': addFastRecordForm.valid, 'btn-secondary': !addFastRecordForm.valid}"
        [disabled]="!addFastRecordForm.valid">Submit</button>

</form>