<h1>ZASADY Bekon hallenge</h1>

<ul>
    <li>
        Wyzwanie trwa od 5 lutego do 1 lipca 2022.
    </li>
    <li>
        Uczestnicy zobowiązani sa wykonywania pomiarów obwodów ciała przynajmniej raz w tygodniu (preferowany weekend) z
        samego rana po przebudzeniu na czczo i po porannej toalecie.
    </li>
    <li>
        Należy wprowadzać pomiary i aktywność fizyczną zgodnie z prawdą. Nie lubimy oszustów a zależy nam na dobrej
        zabawie.
    </li>
</ul>

<h2>Pomiary</h2>

<p>Pomiary robimy najlepiej taśmą krawiecką. Większość pomiarów można wykonywać przy napiętych mięśniach np. biceps,
    łydka, uda. Natomiast w pasie, biodra i szyja robimy bez napinania będąc rozluźnionym.
    Nie wciągamy brzucha grubasy! Taśmę krawiecką przykładamy tak aby nie ściskać mierzonego obwodu. Pamiętaj w jaki
    sposób się mierzyłeś aby cotygodniowe pomiary były robione w ten sam sposób.
    Poniżej link do strony na której znajedziecie gdzie mierzymy obdwody. <b>Waist</b> to potocznie pas i mierzymy go
    około 1cm pod pępkiem.
</p>
<p><a href="https://support.fit3d.com/hc/en-us/articles/115007570947-Core-circumference-measurements">Grafika z
        obwodami</a></p>