<div class="row">
    <div class="col-md-2 col-sm-10">
        <div class="form-group first">
            <label for="MealName">Comment</label>
            <div class="form-control">{{record.comment}}</div>
        </div>
    </div>
    <div class="col-md-1 col-sm-2">
        <div class="form-group first">
            <label></label>
            <div></div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="form-group first">
            <label>Energy (kCal)</label>
            <div class="form-control">{{record.energy}}</div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="form-group first">
            <label>Carbs (g)</label>
            <div class="form-control">{{record.carbohydrates}}</div>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="form-group first">
            <label>Proteins (g)</label>
            <div class="form-control">{{record.proteins}}</div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2">
        <div class="form-group first">
            <label>Fats (g)</label>
            <div class="form-control">{{record.fats}}</div>
        </div>
    </div>
    <div class="col-md-1 col-sm-1">
        <div class="form-group first">
            <label></label>
            <div class="form-control" style="background-color: red; cursor: pointer;" (click)="onDelete()">x</div>
        </div>
    </div>
</div>