<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 py-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group first">
                        <label for="date">Date</label>
                        <input class="form-control" type="date" name="date" id="date"
                            [value]="measurement.measurementDate | date: 'yyyy-MM-dd'"
                            (change)='setDate($event); onChange();' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Weight">Weight (kg)</label>
                        <input class="form-control" id="Weight" [(ngModel)]="measurement.weight"
                            (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Fat">Fat (%)</label>
                        <input class="form-control" id="Fat" [(ngModel)]="measurement.fat" (change)='onChange()' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Waist">Waist (cm)</label>
                        <input class="form-control" id="Waist" [(ngModel)]="measurement.waist" (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Neck">Neck (cm)</label>
                        <input class="form-control" id="Neck" [(ngModel)]="measurement.neck" (change)='onChange()' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Chest">Chest (cm)</label>
                        <input class="form-control" id="Chest" [(ngModel)]="measurement.chest" (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Biceps">Biceps (cm)</label>
                        <input class="form-control" id="Biceps" [(ngModel)]="measurement.biceps"
                            (change)='onChange()' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Tigh">Tigh (cm)</label>
                        <input class="form-control" id="Tigh" [(ngModel)]="measurement.tigh" (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Calf">Calf (cm)</label>
                        <input class="form-control" id="Calf" [(ngModel)]="measurement.calf" (change)='onChange()' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>