<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 py-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group first">
                        <label for="MealName">Meal name</label>
                        <input class="form-control" id="MealName" [(ngModel)]="record.mealName"
                            style="border-color: orange;" list="mealNames" />
                        <datalist id="mealNames">
                            <option *ngFor="let item of options" [value]="item">{{item}}</option>
                        </datalist>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group first">
                        <label for="RecordTime">Time</label>
                        <input class="form-control" matTimepicker #t="matTimepicker" #time="ngModel" [strict]="false"
                            id="timepicker-example" mode="24h" [ngModel]="defaultValue" name="time"
                            (timeChange)="onTimeChange($event)">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group first">
                        <p style="margin: 0px;">Next day?</p>
                        <input type="checkbox" class="btn-check" id="IsNextDay" autocomplete="off" name="IsNextDay"
                            [(ngModel)]="record.isNextDay">
                        <label class="btn btn-outline-primary" for="IsNextDay">Next day</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>