<form class="d-flex" *ngIf="!isUserAuthenticated" [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
    <input type="text" id="email" placeholder="email" formControlName="email" class="form-control" style="margin-right: 5px;" />
    <input type="password" id="password" placeholder="password" formControlName="password" class="form-control" style="margin-right: 5px;" />
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>
<button class="btn btn-outline-success" *ngIf="isUserAuthenticated" type="submit" (click)="logout()">Logout</button>