<div
    style="border-radius: 2px; border: black solid 1px; display: flex; flex-direction: row; justify-content: flex-start; align-content: stretch; width: 100%; margin-bottom: 10px;">
    <div style="align-self:flex-start; flex:1;">
        <div
            style="display: flex; flex-direction: row; justify-content:left; align-content: stretch; background-color: rgb(198, 135, 250);">
            <div style="flex: 1; flex: grow 1; align-self:flex-start; padding-left: 5px; padding-right: 5px;"
                (click)="onSelect()">
                {{record.recordDate | date:'yyyy.MM.dd'}}</div>
            <div style="flex: grow 1; background-color: red; color: white; padding-left: 5px; padding-right: 5px;"
                (click)="onDelete(record.id)">
                <b>x</b>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-content: stretch;">
            <div
                style="flex: 1; align-self:stretch; border: gray solid 1px; padding-left: 5px; padding-right: 5px; text-align: center;">
                {{record.excersize}}</div>
            <div
                style="flex: 1; align-self:stretch; border: gray solid 1px; padding-left: 5px; padding-right: 5px; text-align: center;">
                {{record.burntCalories}} (kCal)</div>
            <div
                style="flex: 1; align-self:stretch; border: gray solid 1px; padding-left: 5px; padding-right: 5px; text-align: center;">
                {{record.duration}} ({{record.durationUnit}})</div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; align-content: stretch;">
            <app-fit-add-record *ngIf="isSelected" [record]="record" (onChangeFitRecord)="onChange()">
            </app-fit-add-record>
        </div>
    </div>
</div>