<h2>My gym records!</h2>

<app-button color="green" text="add" (click)="addGymRecord()">
</app-button>
<div *ngIf="isAdding" style="margin-bottom: 5px; margin-top: 5px;">
    <app-gym-add-record [record]="recordToAdd" [options]="excersiseOptions"></app-gym-add-record>
    <div style="margin-bottom: 5px; margin-top: 5px;">
        <div (click)="onCancell()"
            style="display: inline-block; width: 49%; background-color: red; color: white; text-align: center; padding: 5px; border-radius: 2px;">
            cancell
        </div>
        <div style="display: inline-block; width: 2%;">

        </div>
        <div *ngIf="isValid" (click)="onSave()"
            style="display: inline-block; width: 49%; background-color: lightskyblue; color: white; text-align: center; padding: 5px; border-radius: 2px;">
            save
        </div>
    </div>
</div>

<div *ngFor="let key of groupedReocords.keys()">
    <app-button color="gray" text="{{groupedReocords.get(key)[0].recordDate | date:'yyyy.MM.dd' }}"
        data-toggle="collapse" [attr.href]="'#' + key" aria-expanded="false" [attr.aria-controls]="key"
        (click)="onCollapse(key)"></app-button>
    <div class="collapse" [ngClass]="{'show' : groupedCollapse[key]}" [id]="key">
        <app-gym-record-item *ngFor="let record of groupedReocords.get(key)" [record]="record"
            (onDeleteGymRecord)="onDelete(record.id)" (onChangeGymRecord)="onChange(record)">
        </app-gym-record-item>
    </div>
</div>