@using static Challenger.Identity.Quickstart.ResetPassword.ResetPasswordController
@model SimpleVM
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.    
</p>
<p>
   @Html.Raw(@Model.test)
</p>

