<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12 py-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group first">
                        <label for="RecordDate">Date</label>
                        <input class="form-control" type="date" name="RecordDate" id="RecordDate"
                            [value]="record.recordDate | date: 'yyyy-MM-dd'" (change)='setDate($event); onChange();'
                            (change)='onChange()' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Excersize">Excersize</label>
                        <select class="form-select" aria-label="Default select example" id="Excersize"
                            [(ngModel)]="record.excersize" (change)='onChange()'>
                            <option *ngFor="let activity of activities" [value]="activity">{{ activity }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group first">
                        <label for="Duration">Duration</label>
                        <input class="form-control" id="Duration" [(ngModel)]="record.duration" (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group first">
                        <label for="Duration">Unit</label>
                        <select class="form-select" aria-label="Default select example" id="DurationUnit"
                            [(ngModel)]="record.durationUnit" (change)='onChange()'>
                            <option value="h">h</option>
                            <option value="m">m</option>
                            <option value="s">s</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Repetitions">Repetitions</label>
                        <input class="form-control" id="Repetitions" [(ngModel)]="record.repetitions"
                            (change)='onChange()' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group first">
                        <label for="Distance">Distance (m)</label>
                        <input class="form-control" id="Distance" [(ngModel)]="record.distance" (change)='onChange()' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>