<div class="row">
    <app-button class="col-md-6" color="green" text="Find" (click)="findProduct()"></app-button>
    <app-button class="col-md-6" color="green" text="Add new" (click)="addNewProduct()"></app-button>
</div>

<div *ngIf="isSearchingProduct">
    <app-product-search (onProductFound)="productAdded($event)"></app-product-search>
</div>

<div *ngIf="isAddingNewProduct">
    <app-product-add (onProductAdded)="productAdded($event)"></app-product-add>
</div>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    Error: {{errorMessage}}
</div>

<div *ngIf="!isSearchingProduct && !isAddingNewProduct && ingridient && product">
    <div class="form-group row">
        <label for="size" class="col-form-label col-sm-2">Eat size:</label>
        <div class="col-md-12">
            <input type="number" id="size" class="form-control" [(ngModel)]="ingridient.size" />
        </div>
    </div>
    <div class="btn" [ngClass]="{'btn-primary': validate(), 'btn-secondary': !validate()}"
        (click)="submit()">Submit</div>
</div>