
<table style="margin:auto; min-width:332px; max-width:640px; width:100%; border:solid; border-color:darkgray; border-width:thin; border-spacing:0px;">
    <tr>
        <td style="background-color:#3a2c31; min-width:330px; height:120px; color:white; font-family:Helvetica, sans-serif; font-size:60px; text-align:center; vertical-align:middle; line-height:80px;">
            BECON CHALLENGE
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; text-align:justify;">
            Drogi grubasie! <br /><br />
            Dostajesz tego maila bo wyraziłeś chęć wzięcia udziału w wyzwaniu BECON CHALLENGE.
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
            <b>Czym jest BECON CHALLENGE?</b> <br /><br />
            BECON CHALLENGE to wyzawanie, które polega na tym żeby zrzucić sadło i nabrać formy na plaże, w góry, na deche jak wolisz.

        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; text-align:justify;">
            <b>Jak tego dokonamy?</b> <br /><br />
            Będziemy żreć mniej i ruszać się więcej! Żeby było ciekawiej i żebyś miał motywację ruszyć dupsko z kanapy to wyzwanie jest w formie rywalizacji. Swoje wypociny na siłce, na rowerze czy basenie będziemy
            zapisywali na stornie. Każda aktywność to punkciki, które skrzętnie zbieramy. Ale aktywność to nie wszystko, bo co z aktywności jak dalej będziesz obżerał się czipsami tłuściochu. Dlatego będziemy się też mierzyli.
            Najważniejsze to raz w tygodniu w SOBOTĘ lub NIEDZIELĘ zrobić pomiar obwodów ciałą i zapisać na stronce. Wygra nie tylko najaktywniejszy bekon ale też najchudszy spośród tłustych salcesonów. Regulamin znajdzie się wkrótce na stronie.
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; text-align:center;">
            <b>Wyzwanie trwa do 1 lipca! </b></br></br>
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; text-align:justify;">
            Dlatego zarejestruj się na stronie już dzisiaj! Link do rejestracji znajduje się poniżej. </br>
            No dalej zrób to!
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
            <a href="http://54.37.137.86" target="_blank" title="Link do rejestracji" id="activationLink" style="background-color:#ff9900; display:block; margin:auto; font-family:Roboto-Regular,Helvetica,Arial,sans-serif; text-align:center; text-decoration:none; min-height:36px; line-height:36px; padding:15px; min-width:88px; font-size:20px; font-weight:400; color:#ffffff; border-radius:2px; border-width:0px">
                ZAREJESTRUJ SIĘ !
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
            <b>Jeżeli już się zarejestrowałeś to wspaniale.</b>
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
            Strona posiada ogólnodostępny ranking. Pokaż go swojej drógiej połówce, kolegom czy rodzinie żeby mogli się z Ciebie śmiać, a przez to też motywować do działania ;).</br>
            Trzymam za Nas kciuki!
        </td>
    </tr>
    <tr>
        <td style="padding:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif;">
            Please do not respond to this email. It's autogenerated.
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px; padding-left:30px; padding-bottom:10px; color:#333333; font-family:'Franklin Gothic Medium', 'Arial Narrow' , Arial, sans-serif; font-size:12px; border-top:solid #808080 thin; text-align:center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VDvr08sCPOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td>
    </tr>
</table>